<nav>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/">
                    <img src="/icons/home.svg" alt="Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/agregarPelicula">
                    <img src="/icons/AgregarSH.png" alt="Acerca de Icon">
                    Agregar Peliculas
                </a>
                 <a href="/mostrarPelicula">
                    <img src="/icons/Mostrar.png" alt="Acerca de Icon">
                    Mostrar Peliculas
                </a>
            </li>
            <li>
                <a href="/agregarUsuario">
                    <img src="/icons/AgregarSH.png"alt="Acerca de Icon">
                    Agregar Usuario
                </a>
                <a href="/mostrarUsuarios">
                    <img src="/icons/Mostrar.png" alt="Acerca de Icon">
                    Mostrar Usuario
                </a>
            </li>
            <li>
                <a href="/agregarRole">
                    <img src="/icons/info4.png" alt="Acerca de Icon">
                    Agregar Roles
                </a>
                <a href="/mostrarRoles">
                    <img src="/icons/info4.png" alt="Acerca de Icon">
                    Mostrar Roles
                </a>
            </li>
            <li>
                <a href="/agregarPermiso">
                    Agregar Permisos
                    <img src="/icons/contact.svg" alt="Conctacto Icon">
                </a>
                 <a href="/mostrarPermiso">
                    Mostrar Permisos
                    <img src="/icons/contact.svg" alt="Conctacto Icon">
                </a>
            </li>
        </ul>
    </div>
</nav>

